
body{
    background-color: darkgrey;
}

label{
    font-size:20px;
}
table{
    border: 2px dotted black;
}

.labelwidth{
    width: 20 px;
}

.contentpadding{
    padding: 40px;
}

.tablecontent{
    padding: 10px;
    margin: 100px;
    border-radius: 300px;
}

#textfirstname{
    background-color: beige;
}